*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.nav-bar{
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

a{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.banner{
    height: 500px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;


}
button{
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 20px;
    border: none;

}
button:hover{
    background-color: red;

}
input{
    height: 30px;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top:50px;
    margin-bottom: 50px;
}
.category img{
    height: 250px;
    width: 250px;
    box-shadow: 0 5px 20px black;
    border-radius: 10px;
}
.offer{
    height: 300px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.review{
    height: 250px;
    width: 250px;
    box-shadow: 0 5px 10px black;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;

}
.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.columns{
    margin-top: 30px;
}
li{
    list-style: none;
    margin: 10px;
}